
body {
  background-color: #eee;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  width: 800px;
  margin: auto;
  text-align: center;
}

h1, #searchForm {
  padding: 24px;;
}

.item {
  width: 80%;
  padding: 20px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #333;
  margin: 10px;
  float: left;
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img { 
  width: 300px;
}

input {
  width: calc(100% - 50px - 10px);
  padding: 10px 10px;
  float: left;
  box-sizing: border-box;
  border: 1px solid #eee;
  border-radius: 5px;
}
.button {
  float: left;
  width: 50px;
  margin-left: 10px;
}


p {
  display: block;
  float: left;
  box-sizing: border-box;
  margin: 0px;
}
.header {
  width: 100%;
  font-size: 0.8em;
  margin-bottom: 10px;
  float: left;
  opacity: 0.5;
}
.author {
  width: 50%;
  float: left;
  display: block;
}

.time {
  width: 50%;
  text-align: right;
  float: left;
  display: block;
}










.gg-bolt {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 6px;
  height: 21px
 }
 
 .gg-bolt::after,
 .gg-bolt::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  transform: rotate(30deg)
 }
 
 .gg-bolt::before {
  border-bottom: 12px solid;
  left: 0;
  top: 0
 }
 
 .gg-bolt::after {
  border-top: 12px solid;
  right: 0;
  bottom: 0
 } 